.select {
    height: 38px;
}

@media screen and (min-width: 990px) {
    .select {
        width: fit-content;
    }
}

@media screen and (max-width: 990px) {
    .select {
        width: 80%;
        margin: 10px 0px;
    }
}