.developersList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.developerInfo {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textInfo {
    font-size: 1.5rem;
    font-weight: 500;   
    width: fit-content;
}

.personImage {
    display: block;
    border-radius: 50%;
    border: 1px #084298;
}

